<div class="bgc overflow-hidden container-fluid">
  <div class="d-flex align-items-center justify-content-center flex-wrap box-54" style="height: 100vh">
    <div>
      <div class="d-flex align-items-center justify-content-center h-100" data-aos="fade-down" data-aos-duration="1000">
        <form [formGroup]="loginForm" class="border border-2 rounded p-4" (ngSubmit)="login()">
          <div data-aos="fade-down" data-aos-duration="1000">
            <div class="d-flex align-items-center justify-content-center mt-5 mb-2">
              <mat-icon>lock</mat-icon>
            </div>
            <h2 class="text-light text-center mb-3">
              {{ "login.Login_to_EDUX" | translate }}
            </h2>
          </div>

          <mat-form-field appearance="fill" class="w-100" data-aos="fade-down" data-aos-duration="1000">
            <mat-label>{{ "login.email" | translate }}</mat-label>
            <input type="email" matInput formControlName="username" placeholder="Ex. example@mail.com" />
            @if (loginForm.get('username')?.errors?.['required']) {
            <mat-error>
              {{ "login.email-is" | translate }}
              <strong>{{ "login.required" | translate }}</strong>
            </mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-100" data-aos="fade-down" data-aos-duration="1000">
            <mat-label>{{ "login.password" | translate }}</mat-label>
            <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput placeholder="**********" />
            <mat-icon matSuffix (click)="hide = !hide">{{
              hide ? "visibility_off" : ("visibility" | translate)
              }}</mat-icon>

            @if (loginForm.get('password')?.errors?.['required']) {
            <mat-error>
              {{ "login.password-is" | translate }}
              <strong>{{ "login.required" | translate }}</strong>
            </mat-error>
            }
          </mat-form-field>

          <div class="forgot" data-aos="fade-down" data-aos-duration="1000">
            <a class="title" routerLink="/forgot-password">
              {{ "login.forgot-your-password" | translate }}</a>
          </div>

          <div class="w-100 button text-center my-3" data-aos="fade-down" data-aos-duration="1000">
            <button type="submit" class="btn btn-outline-info rounded w-75 btn-lg" [disabled]="loginForm.invalid">
              {{ "login.sign-in-now" | translate }}
            </button>
          </div>

          <div class="w-100 box-4">
            <span class="span-1"> {{ "login.or" | translate }}</span>
          </div>

          <div class="w-100 box-4">
            <button class="btn btn-outline-primary w-50" routerLink="/register">
              {{ "login.register" | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
