<div class="d-flex align-items-center justify-content-between mb-5">
  <div class="d-flex align-items-center gap-3">
    <input
      type="search"
      class="input1 border-c-1"
      (input)="searchUsers($event)"
      [placeholder]="'users.search' | translate"
    />

    <div class="box-2 border-c-1">
      <div class="box-1">
        <span>{{ "users.permissions" | translate }} :</span>
        <span class="span-1">{{ selectedPermission?.name }}</span>
      </div>

      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        @for (permission of permissions; track $index) {
          <button mat-menu-item (click)="filterByPermission(permission.value)">
            <span>{{ permission.name }}</span>
          </button>
          }
      </mat-menu>
    </div>
  </div>

  <div class="d-flex align-items-center">
    <button class="btn-1 bg-1" (click)="addUser()">
      {{ "users.add-user" | translate }}
    </button>
  </div>
</div>
