/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.color-1 {
  color: #fb6b03cc;
}

.border-c-1 {
  border: 2px solid #70707087;
  border-radius: 4px;
}

.bg-1 {
  background-color: #fb6b03cc;
}
